<div class="flex">
    <div id="map"></div>
    <app-static-sidebar 
        [selectedBlock]='selectedBlock' 
        (blockidChange)='displaySelected($event)'
        (editFeature)='addEditInteraction($event)'></app-static-sidebar>
</div>
<app-controls 
    (updateBasemapOpacity)='updateBasemapOpacity($event)'
    (updateBlockOpacity)='updateBlockOpacity($event)'
    (changeBaseMap)='changeBaseMap($event)'
    [baseMapControls]= 'baseMapControls'
    [currentBaseMap]= 'currentBaseMap'
    [blockOpacity]= 'blockOpacity'></app-controls>