<h1 class="headline">Visingsö Jordbrukblock</h1>

<div class="example-container">
    <mat-form-field>
        <input matInput readonly='{{blockIdIsReadOnly}}' [(ngModel)]="selectedBlock.properties.BLOCKID" placeholder="Sök med Block Id" (keyup.enter)="searchBlock(selectedBlock.properties.BLOCKID)">
        <mat-hint *ngIf="selectedBlock.properties.AGOSLAG ===''">Eller klicka på kartan</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="selectedBlock.properties.AGOSLAG !==''">
        <input matInput readonly='{{inputsReadOnly}}' [(ngModel)]="selectedBlock.properties.AGOSLAG" placeholder="Agoslag">
        <!-- <input matInput readonly value={{selectedBlock.properties.AGOSLAG}} placeholder="Agoslag"> -->
    </mat-form-field>

    <mat-form-field *ngIf="selectedBlock.properties.AREAL !== 0">
        <input matInput readonly [(ngModel)]="selectedBlock.properties.AREAL" placeholder="Areal">
    </mat-form-field>

    <mat-form-field *ngIf="selectedBlock.properties.KATEGORI !== ''">
        <input matInput readonly='{{inputsReadOnly}}' [(ngModel)]="selectedBlock.properties.KATEGORI" placeholder="Kategori">
    </mat-form-field>
    <div *ngIf="selectedBlock.properties.AGOSLAG ==='' && notEditing">
        <button  mat-raised-button color="primary" (click)=submit(selectedBlock.properties.BLOCKID)>Submit</button>
    </div>
    <div class="flex" *ngIf="selectedBlock.properties.AGOSLAG !=='' && notEditing">
        <button  mat-raised-button color="primary" (click)=edit()>Edit</button>
        <button  mat-raised-button color="accent" (click)=newSearch()>New Search</button>
    </div>
    <div class="flex" *ngIf="!notEditing">
        <button mat-raised-button color="warn" (click)=cancel()>Cancel</button>
        <button mat-raised-button color="primary" (click)=save()>Save</button>
    </div>
</div>

<!-- <button mat-raised-button (click)=edit()>Edit</button> -->


<!-- <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Edit
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button (click)=edit()>Edit</button>
        <button mat-raised-button (click)=stopediting()>Stop Edit</button>
        <button mat-raised-button (click)=reset()>Reset</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Identify
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button (click)=identify()>Identify</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Search
            </mat-panel-title>
        </mat-expansion-panel-header>
        Search by block Id
        <input type="text" #box value="64364126210" (keyup.enter)="onEnter(box.value)">
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Map Settings
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h2>Base Map Opacity: <span>{{baseSlider.value}}</span></h2>
        <mat-slider #baseSlider (input)=tileOpChange($event) min="0" max="1" step="0.1" tickInterval="auto" value=".5">
        </mat-slider>
        <h2>Block Opacity: <span>{{blockSlider.value}}</span></h2>
        <mat-slider #blockSlider (input)=blockOpChange($event) min="0" max="1" step="0.1" value="1"></mat-slider>
    </mat-expansion-panel>
</mat-accordion> -->



<!-- <button (click)= submit()>Save</button> -->
<!-- <a id="download" href="" download="features.json">Download</a> -->