<h1 class="headline">Visingsö Jordbruksblock</h1>

<div class="blockform-container">
    <div class="blockform-container">
        <mat-form-field>
            <input matInput readonly='{{blockIdIsReadOnly}}' [(ngModel)]="selectedBlock.properties.BLOCKID"
                placeholder="Sök med Block Id" (keyup.enter)="searchBlock(selectedBlock.properties.BLOCKID)">
            <mat-hint *ngIf="selectedBlock.properties.BLOCKID ===''">Eller klicka på kartan</mat-hint>
        </mat-form-field>
    </div>
    <div *ngIf="blockIdIsReadOnly === true" class="blockform-container">
        <mat-form-field>
            <input matInput readonly='{{inputsReadOnly}}' [(ngModel)]="selectedBlock.properties.AGOSLAG"
                placeholder="Agoslag">
        </mat-form-field>

        <mat-form-field>
            <input matInput readonly [(ngModel)]="selectedBlock.properties.AREAL" placeholder="Areal">
        </mat-form-field>

        <mat-form-field>
            <input matInput readonly='{{inputsReadOnly}}' [(ngModel)]="selectedBlock.properties.KATEGORI"
                placeholder="Kategori">
        </mat-form-field>
        <div *ngIf="selectedBlock.properties.AGOSLAG ==='' && notEditing">
            <button mat-raised-button color="primary" (click)=search(selectedBlock.properties.BLOCKID)>Sök</button>
        </div>
    </div>

    <div class="flex" *ngIf="selectedBlock.properties.AGOSLAG !=='' && notEditing">
        <button mat-raised-button color="primary" (click)=edit()>Edit</button>
        <button mat-raised-button color="accent" (click)=newSearch()>Ny Sökning</button>
    </div>
    <div class="flex" *ngIf="!notEditing">
        <button mat-raised-button color="warn" (click)=cancel()>Ångra</button>
        <button mat-raised-button color="primary" (click)=save()>Spara</button>
    </div>
</div>