.flex {
  display: flex;
  justify-content: space-between
}

.blockform-container {
  display: flex;
  flex-direction: column;
}

.blockform-container>* {
  width: 100%;
}

button {
  margin-top: 1rem;
  margin-right: .5rem;
  min-width: 6rem;
  flex-grow: 1;
  flex-basis: 0;
}