.flex {
  display: flex;
  height: 100%;
}

#map {
  width: 75%;
  height: 100%;
}

app-static-sidebar {
  margin: 1rem;
}

app-loading-screen {
  z-index: 2000;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgb(127, 206, 127);
}