.layerSettingDiv {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 100;
  background: rgb(255, 255, 255, .75);
  border-radius: .5rem;
  padding: .5rem;
}

.opacitySliders{
  position: absolute;
  top: 8rem;
  left: 2rem;
  z-index: 100;
  background: rgb(255, 255, 255, .75);
  border-radius: .5rem;
  padding: 1rem .5rem 0rem .5rem;
}

mat-slider {
  padding: 0rem;
  height: 3rem;
}

div.opacitySliders > p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.mapLegend {
  position: absolute;
  left: 55%;
  top: 73%;
  background: rgb(255, 255, 255, .75);
  border-radius: .5rem;
  padding: .5rem;
}

.mapLegend i {
  width: 30px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.mapLegend ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}